.display-container{
    border: 2px solid black;
    /* width: fit-content;
    height: fit-content; */
    height: 800px;
    width: 350px;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    padding: 2px;
}

.display-exp{
    background-color: green;
    height: 300px ;
    width: 350px;
    padding: 4% 0 0 0;
    margin-bottom: -10px;
    border-radius: 30px;
}
.expression{
    height: 45%;
    width: 98%;
    margin-top: 8%;
    background-color: aqua;
    font-size: 2rem;
    border-radius: 15px;
}

.display-ans .answer{
    width: 98%;
    height: 30%;
    margin-top: -20spx;
    background-color: blueviolet;
    font-size: 3rem;
    color: white;
    border-radius: 15px;
}
.button-div{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
    border: 2px solid red;
    align-items: center;
}

